/* Fonts */
html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

/* Head */
.masthead a {
  color: #000;
}
.masthead h3 {
  font-weight: 600;
}
.masthead .avatar {
  display: inline;
  margin: 0;
  border-radius: 0
}

@media (min-width: 34em) {
  .masthead {
    padding-top: 1rem;
    text-align: right;
  }
  .masthead-title {
    float: left;
  }
}

/* Navigation */
.contact, .nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-block;
}
.contact li, .nav li {
  display: inline-block;
}
.nav li {
  margin-left: .5rem;
}
