/* Fonts */
html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

/* Head */
.masthead a {
  color: #000;
}
.masthead h3 {
  font-weight: 600;
}
.masthead .avatar {
  display: inline;
  margin: 0;
  border-radius: 0
}

@media (min-width: 34em) {
  .masthead {
    padding-top: 1rem;
    text-align: right;
  }
  .masthead-title {
    float: left;
  }
}

/* Navigation */
.contact, .nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-block;
}
.contact li, .nav li {
  display: inline-block;
}
.nav li {
  margin-left: .5rem;
}

/* Meta */
.post-date {
  display: inline-block;
  margin-bottom: 1rem;
  padding-right: 10px;
  color: #9a9a9a;
}
.post-date:before {
  font-family: FontAwesome;
  margin-right: 5px;
}
.post-date:before { content: "\f073" }

/* Code */
code {
  font-weight: bold;
  color: inherit;
}
table code {
  background-color: transparent;
}

/* Code: Horizontal scrolling */
.highlight pre code * {
  white-space: nowrap;
}
.highlight pre code {
  white-space: pre;
}
.highlight pre {
  word-break: normal;
  word-wrap: normal;
  overflow-x: auto;
}

/* Comments */
.comments {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.comment {
  margin-bottom: 2rem;
}
.comment .comment_header {
  display: block;
  float: left;
  width: 100%;
}
.comment .comment_header .comment_gravatar {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}
.comment .comment_header .comment_user {
  color: #313131;
  margin-left: 10px;
}
.comment .comment_header .comment_date {
  color: #9A9A9A;
}
.comment .comment_body {
  margin-left: 30px;
}
.comment img {
  display: inline;
  margin: auto;
  border-radius: 0;
}

/* Archive */
.archive {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 34rem) {
  .archive-date {
    float: right;
    margin-left: 1rem;
  }
}
