{% if page.comments_id %}
  {% capture github_base_url %}{{ site.author.github }}/{{ site.author.github }}.github.io/issues/{{ page.comments_id }}{% endcapture %}
  {% capture github_url %}https://github.com/{{ github_base_url }}{% endcapture %}

  <div id="comments" class="comments">
    <h2>Comments</h2>
    <div class="comments_header">
      <p>Want to leave a comment? Visit <a href="{{ github_url }}">this post's
         issue page on GitHub</a>.</p>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.5.4/CustomElements.min.js"></script>
  <script src="{{ "/public/time-elements/time-elements.min.js" | relative_url }}"></script>
  <script>
    function loadComments(data) {
      for (var i = 0; i < data.length; i++) {
        var user_link = 'https://www.github.com/' + data[i].user.login;
        var issue_link = '{{ github_url }}#issuecomment-' + data[i].url.substring(data[i].url.lastIndexOf('/') + 1);
        $('#comments').append(
          '<div class="comment">' +
            '<div class="comment_header">' +
              '<div class="comment_gravatar">' +
                '<img src="' + data[i].user.avatar_url + '" alt="" width="20" height="20">' +
              '</div>' +
              '<a class="comment_user" href="' + user_link + '">' + data[i].user.login + '</a>' +
              '<span class="comment_date"> commented </span>' +
              '<a class="comment_date" href="' + issue_link + '">' +
                '<time is="relative-time" datetime="' + data[i].created_at + '">' +
                  moment(data[i].created_at).format('ll') +
                '</time>' +
              '</a>' +
            '</div>' +
            '<div class="comment_body">' + data[i].body_html + '</div>' +
            '</div>'
        );
      }
    }
    $.ajax('https://api.github.com/repos/{{ github_base_url }}/comments?per_page=100', {
      headers: {Accept: 'application/vnd.github.full+json'},
      dataType: 'json',
      success: function(msg) { loadComments(msg); }
    });
  </script>
{% endif %}
